body {
  background: #f2f2f2;
  text-align: center;
  font-family: Arial;
  padding-top: 100px;
}
button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
button:hover {
  background-color: #b10000;
  cursor: pointer;
}